* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  button {
    cursor: pointer;
  }
  button:active {
    transform: translateY(2px);
  }
  ul  {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }

  .cell {
    width: 20px;
    height: 20px;

  }
  .cell:hover {
    background-color: #cecece;
  }